main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background: linear-gradient(180deg,#ff7f11,#878886);
}
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#contact form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    font-size: large;
    color: azure;
}
#contact form input{
    height: 30px;
    width: 200px;
    font-size: 15px;
    color: azure;
    outline: none;
    border: none;
    background-color: firebrick;
}
#contact form button{
    height: 50px;
    width: 200px;

}
#contact form textarea{
    height: 100px;
    width: 400px;
}