footer{
    height: fit-content;
    background-color: gray;
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    gap: 30px;
    position: relative;
    width: 100%;
    bottom: 0px;
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
footer ul li a{
    color: white ;
}