*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 99vw;
    padding: 5px;
    background-color: rgb(255, 158, 2);
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 3;
} 
header  button{
    height: 40px;
    width: 100px;
    background-color: rgb(255, 72, 0);
    color: aliceblue;
    outline: none;
    border: none;
}

header ul{
    display: none;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    font-size: 20px;
    list-style: none;
    padding: 10px;
    gap: 10px;

}
header ul li a{
    text-decoration: none;
    color: white;
}
header ul li a:hover {
    border-bottom: 5px solid white;
}
header ul li ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 158, 2);
    width: fit-content;
    display: none;
    position: absolute;
}
header ul li{
    display: block;
    z-index: 2;

}
header ul :hover ul{
    display: flex;
    color: gray;
    cursor: pointer;
}
#ul li ul{
    position: absolute;
    transform: translate(-200px,-50px);
    width: 200px;
}
#sidebar:hover #ul{
    display: flex;
    flex-direction: column;
    background-color: orange;
    width: fit-content;
    position: absolute;
    top: 1px;
}
#sidebar div{
    color: azure;
    font-size: 40px;
    transform: translateY(-10px);
}
@media(min-width:650px){
#sidebar{
    display: none;
}
header ul{
    display: flex;
}
}


